<%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
      <title>Cookunity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- CSS -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One'>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/supersized.css">
  <link rel="stylesheet" href="/assets/style.css">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

<div class="page-container container-fluid">

  <!-- Show/hide button -->
  <div class="row-fluid">
    <div class="span10"></div>
    <div class="show-hide span1">
      <a href="#" rel="tooltip" data-placement="bottom" data-original-title="Hide footer">-</a>
    </div>
    <div class="span1"></div>
  </div>

  <!-- Page title -->
  <div class="row-fluid">
    <div class="page-title span12">      
      <h1>Cookunity</h1>
      <h4 style="color: #ffffff">Real People, Honest Food</h4 style="color: #ffffff">
    </div>
  </div>
  <!-- Timer -->
  <!--div class="row-fluid">
      <div class="timer span12">
          <span class="days"></span> days /
          <span class="hours"></span> hours /
          <span class="minutes"></span> minutes /
          <span class="seconds"></span> seconds
      </div>
  </div-->

  <!-- Page description -->
  <div class="row-fluid">
    <div class="page-description span2" style="width:40%">
      <p>Cookunity is a marketplace that connects eaters and cooking enthusiasts</p>
      <p>Enjoy an accesible, homemade meal in your home, while amateur cooks share their love for cooking right from their kitchens </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="page-description span2" style="width:50%">
      <h6>*Coming Soon to San Francisco</h6>
    </div>
  </div>

  <!-- Subscription form -->
  <div class="row-fluid">
    <div class="subscription-form span12">
      <%= form_tag "/home/send_mail", class:"form-inline" do %>

        <%= text_field_tag :email,"", placeholder:"Enter your email for updates..." %>
        <%= submit_tag "Subscribe", class:"btn" %>
      <% end %>
      <div class="success-message"></div>
      <div class="error-message"></div>
    </div>
  </div>

  <!-- Progress bar -->
  <!--div class="progress row-fluid">
      <div class="bar" style="width: 0%;" data-percentage="52">
          <div>52%</div>
      </div>
  </div-->

  <!-- Footer -->
  <div class="footer row-fluid">
    <div class="tweets span4">
      <!--div class="show-tweets"></div-->
    </div>
    <div class="span4">
      <!--ul class="flickr-feed"></ul-->
    </div>
    <div class="social span4">
      <div class="social-links">
        <a class="facebook" href="https://www.facebook.com/Cookunity.us?ref=br_tf"></a>
        <!--a class="twitter" href="#"></a>
        <a class="dribbble" href="#"></a>
        <a class="pinterest" href="#"></a>
        <a class="googleplus" href="#"></a>
        <a class="skype" href="#"></a>
        <a class="youtube" href="#"></a>
        <a class="vimeo" href="#"></a>
        <a class="forrst" href="#"></a-->
        <a class="email" href="mailto:info@cookunity.us"></a>
      </div>
      <div class="copyright">
        &copy;<a href="http://www.cookunity.us">cookunity.us</a> - All rights reserved.
      </div>
    </div>
  </div>

</div>

<!-- Javascript -->
<script src="assets/jquery-1.8.2.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/jquery.countdown.js"></script>
<!--script src="assets/js/supersized.3.2.7.min.js"></script>
<script src="assets/js/supersized-init.js"></script-->
<script src="assets/jquery.tweet.js"></script>
<script src="assets/jflickrfeed.js"></script>
<script src="/assets/scripts.js"></script>
</body>
</html>